.main-menu{
  padding: 20px 0px 40px 0px;
  max-width: 960px;
  margin: 0px auto;
}

.main-menu .title{
  float: right;
  margin-top: 10px;
  margin-left: 12px;
  color: #333;
}

.main-menu .logo{
  height: 50px;
  float: left;
}
